<div id="sidebar" class="sidebar-container">
    <h2>Navigation</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#commanders-container">Commanders</a></li>
        {{#each sections}}
        <li><a href="#{{this.type_name}}">{{this.type_name}}</a></li>
        {{/each}}
    </ul>
    <h2>Colors</h2>
    <ul>
    </ul>
</div>