<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/commanders.css" />
    <link rel="stylesheet" href="/css/cards.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <title>All Commanders</title>
</head>

<body>
    {{> sidebar}}
    <div class="main-content">
        <div class="container">
            <div id="commanders-container">
                <h1>All Commanders</h1>
                <div id="commanders-grid">
                    {{#each commanders}}
                    {{>commander this}}
                    {{/each}}
                </div>
            </div>
            <div id="cards-container">
                <h1>Cards used in All decks</h1>
                <div id="cards-grid">
                    {{#each sections}}
                    {{>section this}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>