.card-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.8rem;
    padding: 1rem;
}

.card-card {
    background: var(--surface);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    text-align: center;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    backdrop-filter: blur(10px);
}
.card-card.non-arena {
    background: var(--secondary-color);
}

.card-card:hover {
    box-shadow: var(--shadow-lg);
    transform: scale(1.1);
    z-index: 10;
}
.card-card.active {
    box-shadow: var(--shadow-lg);
    transform: scale(2);
    z-index: 10;
    background: transparent;
    /* blur background */
}
.card-card a {
    text-decoration: none;
    color: inherit;
}

.card-card:hover .card-info {
    opacity: 0;
}

.card-info {
    opacity: 1;
    transition: 0.2s ease;
    padding: 0.2em 0.3em;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.9) 100%
    );
    margin-bottom: 1em;
    --margin: 0.9em;
    margin-left: var(--margin);
    margin-right: var(--margin);
    --radius: 0.3em;
    border-radius: 0 0 var(--radius) var(--radius);
    width: calc(100% - calc(var(--margin) * 2));
}

.card-image {
    position: relative;
    font-size: 0;
    padding: 0.5rem;
}

.card-image svg {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 0.9em;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*letter-spacing: -0.6px;*/
}

.card-count {
    font-size: 0.8em;
    color: #555;
    margin: 0;
}

.card-inclusion-percentage {
    font-size: 0.9em;
    color: #777;
    margin: 10px 0 0;
}
